/** 

Divi Blurb
1. 3:2 

**/

/** 1. 3:2 | Blurb Settings > CSS ID & Classes > CSS Class: .et-blurb-image-3-2 **/ 
.et-blurb-image-3-2 .et_pb_main_blurb_image {
	width:100% !important;
	padding-top: 66.666% !important;
	position:relative;
	overflow:hidden;
	margin:0 !important;
}
.et-blurb-image-3-2 .et_pb_main_blurb_image span {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.et-blurb-image-3-2 .et_pb_main_blurb_image img {
	width:100% !important;
	height:100% !important;
	object-fit: cover;
	object-position:center;
}